{% extends 'base.html' %}

{% block title %}
Recipes | 
{% endblock %}

{% block content %}
<h2 class="mb-4 mt-4 text-center" style="color: #333; font-size: 36px; font-weight: bold;">Add a New Recipe</h2>
<hr class="w-50 mx-auto" style="border: 2px solid #333;">
<form method="post" action="{% url 'recipes' %}" class="mb-5 mx-auto shadow-lg" style="max-width: 600px; background-color: #f5f5f5; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); padding: 20px;" enctype="multipart/form-data">
    {% csrf_token %} 
    <div class="mb-3" style="margin-bottom: 15px !important;"> 
        <label for="recipe-name" class="form-label">Recipe Name</label>
        <input type="text" class="form-control" id="recipe-name" name="receipe_name" required>
    </div>
    <div class="mb-3" style="margin-bottom: 15px !important;">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="receipe_description" rows="3" required></textarea>
    </div>
    <div class="mb-3" style="margin-bottom: 15px !important;">
        <label for="instructions" class="form-label">Instructions</label>
        <textarea class="form-control" id="instructions" name="receipe_instructions" rows="5" required></textarea>
    </div>
    <div class="mb-3" style="margin-bottom: 15px !important;">
        <label for="instructions" class="form-label">Image</label>
        <input type="file" class="form-control" id="image" name="receipe_image" required>
    </div>
    <button type="submit" class="btn btn-primary" style="background-color: #4CAF50; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">Add Recipe</button>
</form>


{% endblock %} 