{% extends 'base.html' %}

{% block title %}
Recipes | 
{% endblock %}

{% block content %}
<div class="recipe-form-container bg-dark text-white p-4 pb-5 ">
    <h2 class="mb-2 text-center section-title">Add a New Recipe</h2>
    <hr class="section-divider mb-4" style="border-color: #ff9500; border-width: 2px; width: 100px; margin-left: auto; margin-right: auto;">
    <form method="post" action="{% url 'recipes' %}" class="recipe-form mx-auto p-4 pb-4" style="max-width: 600px; border-radius: 10px; box-shadow: 0 0 10px 0 rgba(255, 149, 0, 0.75); transition: background-color 0.3s ease;color: #ffffff; " enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3" >
            <label for="recipe-name" class="form-label fw-bold" style="font-size: 18px;">Recipe Name</label>
            <input type="text" class="form-control" id="recipe-name" name="receipe_name" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" name="receipe_description" rows="3" required></textarea>
        </div>
        <div class="mb-3">
            <label for="ingredients" class="form-label">Ingredients</label>
            <textarea class="form-control" id="ingredients" name="receipe_ingredients" rows="3" required></textarea>
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select class="form-select" id="category" name="receipe_category">
                <option value="">Select a category</option> 
                <option value="Breakfast">Breakfast</option>
                <option value="Lunch">Lunch</option>
                <option value="Dinner">Dinner</option>
                <option value="Snack">Snack</option>
                <option value="Dessert">Dessert</option>
            </select> 
        </div> 
        <div class="mb-3">
            <label for="instructions" class="form-label">Instructions</label>
            <textarea class="form-control" id="instructions" name="receipe_instructions" rows="5" required></textarea>
        </div>
        <div class="mb-3">
            <label for="cooking_time" class="form-label">Cooking Time</label>
            <input type="number" class="form-control" id="cooking_time" name="cooking_time" required>
        </div>
        <div class="mb-3">
            <label for="author" class="form-label">Author</label>
            <input type="text" class="form-control" id="author" name="receipe_author" required>
        </div>
        <div class="mb-3" >
            <label for="difficulty" class="form-label">Difficulty</label>
            <select class="form-select" id="difficulty" name="difficulty"required>
                <option value="">Select a difficulty</option>
                <option value="Easy">Easy</option>
                <option value="Medium">Medium</option>
                <option value="Hard">Hard</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="file" class="form-control" id="image" name="receipe_image" required>
        </div>
        <button type="submit" class="btn btn-submit btn-lg btn-block text-white mb-4" style="background-color: #ff9500; border-color: #ff9500; font-weight: bold; font-size: 18px; padding: 10px 20px; border-radius: 10px; box-shadow: 0 0 10px 0 rgba(255, 149, 0, 0.75); transition: background-color 0.3s ease;">Add Recipe</button>
    </form>
</div>
{% endblock %}